<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-router-outlet></ion-router-outlet>
    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="stuff-list">
        <ion-icon name="list"></ion-icon>
          List
      </ion-tab-button>

      <ion-tab-button tab="add-stuff">
        <ion-icon name="add"></ion-icon>
          add stuff
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>


</ion-content>
